/* C S S  R E S E T */

/* Taken from http://meyerweb.com/eric/tools/css/reset v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: circle;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* P R O J E C T  S T Y L E S */

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FFF !important;
    color: #080808 !important;
    font-family: 'Raleway', Arial, sans-serif !important;
}

main {
    flex: 1 0 auto;
}

h1,
h2 {
    color: #080808 !important;
    font-size: xx-large;
    font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-size: large;
    font-weight: 700;
}

.crimson-btn {
    background: #ca0000;
    color: #fff;

}

.black-btn {
    background: #080808;
    color: white;
    border: 1px solid black;
}

.black-btn:hover,
.black-btn:focus {
    color: #080808;
    background-color: #ff7900;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:focus {
    color: #080808;
    background-color: #ff7900;
}

.base-button {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

/* Add to Cart button on release_details.html */
.add-to-cart-btn {
    font-size: 1.1rem;
    padding: 0 1.2rem;
    margin-left: 8px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.card-heading {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05em;
    color: #ca0000;
}

header,
footer {
    background: #080808;
    color: #FFF;
}

header a,
footer a {
    position: relative;
    color: #FFF !important;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2s, background 0.2s;
    padding: 0.5em 1.2em;
    display: inline-block;
    border-radius: 0.5em;
    background: transparent;
}

header a:not(.no-highlight):hover,
footer a:not(.no-highlight):hover,
header a:not(.no-highlight):focus,
footer a:not(.no-highlight):focus {
    background: #ff7900 !important;
    color: #080808 !important;
}

/* Used to center page content vertically on a page */
.center-wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Remove underline from links in Django message modals */
a.no-underline {
    text-decoration: none;
}

/* Styling for stock availability buttons on release.html */
.availability {
    background-color: #080808 !important;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.75em;
    text-align: right;
    border-radius: 0.5em;
    font-weight: bold;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.header-container {
    padding-top: 200px;
}

@media (min-width: 1400px) {

    /* Bootstrap XXL and up */
    .header-container {
        padding-top: 100px;
    }
}

/* Hide number input spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Tooltip for release_details.html quantity button validation */
.qty-tooltip {
    position: absolute;
    background: #e1e1e3;
    color: #080808;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    z-index: 1000;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

/* Quantity selectors on checkout.html */
.input-group-prepend,
.input-group-append {
    display: flex;
}

.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* Search box placeholder text colour */

input[name='q']::placeholder {
    color: #aab7c4;
}

input::placeholder {
    color: rgb(170, 183, 196, 0.75) !important;
}

/* Header menus */
.dropdown-menu {
    background-color: #080808 !important;
    color: #fff !important;
    border: 1px solid #e1e1e3 !important;
}

.dropdown-menu .dropdown-item {
    background-color: #080808 !important;
    color: #fff !important;
    border: none !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
    color: #080808 !important;
    background-color: #ff7900 !important;
}

/* Ensure all card images in home and releases have a consistent height */
.card-img-top {
    height: 350px;
    object-fit: scale-down;
}

/* Optional: Make card titles a consistent height for alignment */
.card-title {
    min-height: 3em;
}

/* Space Crispy Form fields out more */
.form-group, .form-row, .form-check {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

a[href*="password/reset"] {
    display: inline-block;
    margin-top: 1.2rem;
}

/* Add space below the first password field on signup forms */
input[type="password"]:first-of-type {
    margin-bottom: 1.2rem;
}

/* Profile photo styling */
.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border: 2px solid #eee;
}

/* Loyalty badge styling */
.badge.bg-warning.text-dark {
    font-size: 1rem;
    padding: 0.5em 0.75em;
}

/* Sidebar border for account page */
@media (min-width: 992px) {
    .account-sidebar {
        border-right: 1px solid #eee;
    }
}

/* Responsive card padding for account page */
@media (max-width: 991.98px) {
    .account-card {
        padding: 1.5rem !important;
    }
}

/* Space out wishlist form fields and align them nicely */
.wishlist-form .form-group,
.wishlist-form .form-row,
.wishlist-form .form-check {
    margin-bottom: 1rem;
}

.wishlist-list .list-group-item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.wishlist-list .form-control {
    min-width: 100px;
    max-width: 120px;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.wishlist-list,
.wishlist-list li,
.list-group.list-unstyled,
.list-group.list-unstyled li {
    list-style: none !important;
}

/* Align wishlist action buttons vertically and set consistent width */
.wishlist-list .d-flex.flex-column > form,
.wishlist-list .d-flex.flex-column > button {
    width: 120px;
}

.wishlist-list .btn {
    min-width: 100px;
    margin-bottom: 0.1rem;
}

/* S T R I P E */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* A L L A U T H */

.allauth-form-inner-content a {
    color: #080808 !important;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #080808;
    border-color: #080808;
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/* B O O T S T R A P  T O A S T S */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* U T I L I T Y  C L A S S E S  C O P I E D  F R O M  B O O T S T R A P */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}