{% extends "base.html" %}
{% load static %}
{% block extra_meta %}
<meta name="description"
    content="Welcome to The Cult Film Club, your destination for rare, underground, and essential cult films on DVD, Blu-ray, and 4K. Discover curated collections, exclusive editions, and a community of true film fans.">
<meta name="keywords"
    content="cult films, rare films, underground cinema, DVD, Blu-ray, 4K, film club, film community, exclusive editions, cult classics">
{% endblock %}
{% block extra_title %}Home{% endblock %}
{% block content %}
<section>
    <div class="container header-container text-center mt-4 mb-5">
        <h2 class="text-uppercase">Rewind the Past. Collect the Future.</h2>
        <p class="">Your destination for rare, underground, and essential cult films on DVD,
            Blu-ray, and 4K</p>
    </div>
</section>
<section class="py-4">
    <div class="container">
        <h2 class="text-center logo-font mb-4">Latest Releases</h2>
        <div id="featuredReleasesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'release_details' release_id=156 %}">
                        <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1750514213/TouristTrap_Banner_i6aurl.webp"
                            class="d-block w-100 rounded shadow-sm" alt="Release 1">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'release_details' release_id=115 %}">
                        <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1750598885/The_Keep_Banner_resized_llxpbs.webp"
                            class="d-block w-100 rounded shadow-sm" alt="Release 3">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'release_details' release_id=157 %}">
                        <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1750598870/Quatermass_Banner_resized_da4wqp.webp"
                            class="d-block w-100 rounded shadow-sm" alt="Release 2">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#featuredReleasesCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#featuredReleasesCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#featuredReleasesCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#featuredReleasesCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#featuredReleasesCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-4 mb-4">
        <h2 class="text-center mb-4">Why Shop With Us?</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Curated Cult Classics</h3>
                    <p>Handpicked selection of rare, underground, and essential cult films on DVD, Blu-ray, and
                        4K.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Exclusive Editions</h3>
                    <p>Special packaging, remastered versions, and bonus content you won’t find anywhere else.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Cult Films Wishlist</h3>
                    <p>Keep track of the films you want to own with your own curated wishlist.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Free Delivery and Low-Cost Shipping</h3>
                    <p>Enjoy <span>free UK delivery</span> on all orders over £100, with 5% shipping on all other
                        orders.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Secure Shopping</h3>
                    <p>Shop with confidence using our secure checkout and fast, reliable delivery.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-3 h-100 text-center border-0 bg-transparent">
                    <h3 class="card-heading">Newsletter & Community</h3>
                    <p>Sign up for our newsletter for the latest releases, news, and exclusive offers. Join a
                        community
                        of true film fans!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="text-center logo-font mt-4 mb-4">Other Releases</h2>
<section class="py-4 mb-4">
    <div class="container">
        <div class="row justify-content-center g-4">
            {% for release in releases %}
            <div class="col-12 col-md-4">
                <div class="card h-100 shadow-sm">
                    {% if release.featured_image %}
                    <a href="{% url 'release_details' release.id %}"><img src="{{ release.featured_image.image.url }}"
                            class="card-img-top img-fluid w-75 mx-auto d-block mt-5" alt="{{ release.title }}"></a>
                    {% else %}
                    <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1748259124/holding_image.webp"
                        class="card-img-top img-fluid w-75 mx-auto d-block" alt="{{ release.title }}">
                    {% endif %} <div class="card-body d-flex flex-column justify-content-between text-center">
                        <h5 class="logo-font card-title mt-4">{{ release.title }}</h5>
                        <p class="card-text mb-5">£{{ release.price }}</p>
                        <a href="{% url 'release_details' release.id %}" class="btn black-btn mt-auto mb-4">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="surface-bg mb-5">
    <div class="container text-center">
        <h2 class="mb-3">Join The Cult Film Club</h2>
        <p class="mb-5">Take ownership of the films you love. Discover, collect, and preserve cult cinema with
            us.
        </p>
    </div>
</section>
{% endblock %}