{% extends "base.html" %}
{% block content %}
<div class="container header-container center-wrapper my-5">
    <div class="row justify-content-center">
        <div class="col-9 col-lg-10">
            <div class="card shadow-lg rounded-3 border-0 p-4 p-md-5 bg-white text-center">
                <h2 class="logo-font mb-4">Unsubscribe</h2>
                <p class="mb-4">Are you sure you want to unsubscribe {{ subscriber.email }} from the newsletter?</p>
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-50 px-4 py-2 mb-3">Unsubscribe</button>
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary w-50 ms-2 px-4 py-2">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}