{% extends "layouts/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block extra_title %}Logout{% endblock %}
{% block inner_content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card p-3 auth-card">
        <h1 class="logo-font text-center">{% trans "Sign Out" %}</h1>
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit" class="btn btn-outline-black w-100 mt-3">{% trans 'Sign Out' %}</button>
            <a href="javascript:history.back()" class="btn btn-outline-black w-100 mt-2">{% trans 'Cancel' %}</a>
        </form>
    </div>
</div>
{% endblock inner_content %}