{% extends "layouts/base.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}
{% block extra_meta %}
<meta name="description"
    content="Confirm your decision to sign out of your account. This will log you out and return you to the homepage.">
<meta name="keywords" content="logout, sign out, account management, The Cult Film Club, cult cinema, film club">
{% endblock %}
{% block extra_title %}Logout{% endblock %}
{% block inner_content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card p-3 auth-card shadow-lg border-0">
        <h1 class="logo-font text-center mb-2">{% trans "Sign Out" %}</h1>
        <p class="lead text-center mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit" class="btn text-uppercase w-100 mt-3">{% trans 'Sign Out' %}</button>
            <a href="javascript:history.back()" class="btn btn-outline-black text-uppercase w-100 mt-2">{% trans 'Cancel' %}</a>
        </form>
    </div>
</div>
{% endblock inner_content %}