{% extends "layouts/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block inner_content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card p-4 auth-card">
        <h1 class="logo-font mb-4 text-center">{% trans "Sign Up" %}</h1>
        <p class="text-center">
            {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
        </p>
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                {{ redirect_field }}
                <button type="submit" class="btn btn-outline-black btn-block w-100 mt-3">{% trans "Sign Up" %}</button>
            </form>
        {% endif %}
        {% if PASSKEY_SIGNUP_ENABLED %}
            <hr>
            <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-black btn-block w-100 mt-3">
                {% trans "Sign up using a passkey" %}
            </a>
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            <hr>
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
</div>
{% endblock inner_content %}