/* C S S  R E S E T */

/* Taken from http://meyerweb.com/eric/tools/css/reset v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: circle;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* P R O J E C T  S T Y L E S */

/* G E N E R A L */

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1,
h2 {
    font-size: xx-large;
    font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-size: large;
    font-weight: 700;
}

/* U T I L I T Y */

/* Colours */

.black {
    background-color: #080808;
    color: #fff;
}

.crimson {
    background-color: #ca0000;
    color: #fff;
}

.orange {
    background-color: #ff7900;
    color: #fff;
}

.amber {
    background-color: #ffb700;
    color: #fff;
}

.platinum {
    background-color: #e1e1e3;
    color: #fff;
}

/* Buttons */

.black-btn {
    background: #080808;
    color: #fff;

}

.black-btn:hover,
.black-btn:active,
.black-btn:focus {
    background: #222;
    color: white;
}

.crimson-btn {
    background: #ca0000;
    color: #fff;

}

.orange-btn {
    background: #ff7900;
    color: #fff;

}

.amber-btn {
    background: #ffb700;
    color: #fff;

}

.platinum-btn {
    background: #e1e1e3;
    color: #fff;

}

.base-button {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

button>a {
    color: #fafafa;
    text-decoration: none;
}

/* O T H E R  S T Y L E S */

footer {
    background: #080808;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

strong {
    font-weight: 900;
}

#topnav {
    width: 100%;
    text-align: center;
}

.card,
.card-body,
.card-footer {
    background-color: #e1e1e3 !important;
    border-radius: 15px;
}

.availability {
    background-color: #080808 !important;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.75em;
    text-align: right;
    border-radius: 0.5em;
    font-weight: bold;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.header-container {
    padding-top: 140px;
}

button:disabled,
input[type="submit"]:disabled {
    cursor: not-allowed !important;
    opacity: 0.65;
}

/* Hide number input spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.qty-tooltip {
    position: absolute;
    background: #e1e1e3;
    color: #080808;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    z-index: 1000;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.quantity-group,
.quantity-group .btn,
.quantity-group .form-control,
.add-to-cart-btn {
    height: 32px;
    line-height: 32px;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.quantity-group .form-control,
.quantity-input {
    max-width: 40px;
    min-width: 40px;
    height: 32px;
    line-height: 32px;
    font-size: 0.92rem;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    border-width: 1px;
}

.add-to-cart-btn {
    font-size: 1.1rem;
    padding: 0 1.2rem;
    margin-left: 8px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

/* B O O T S T R A P  T O A S T S */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* U T I L I T Y  C L A S S E S  C O P I E D  F R O M  B O O T S T R A P */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* M E D I A  Q U E R I E S */

/* Enforce max width for the search bar */
@media (max-width: 576px) {
    form {
        max-width: 90%;
    }
}

/* Adjust gap between menu items on larger screens */
@media (min-width: 992px) {

    .navbar-nav {
        gap: 75px;
    }
}