/* C S S  R E S E T */

/* Taken from http://meyerweb.com/eric/tools/css/reset v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: circle;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* P R O J E C T  S T Y L E S */

/* G E N E R A L */

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1,
h2 {
    font-size: xx-large;
    font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-size: large;
    font-weight: 700;
}

/* U T I L I T Y */

/* Colours */

.black {
    background-color: #080808;
    color: #fff;
}

.crimson {
    background-color: #ca0000;
    color: #fff;
}

.orange {
    background-color: #ff7900;
    color: #fff;
}

.amber {
    background-color: #ffb700;
    color: #fff;
}

.platinum {
    background-color: #e1e1e3;
    color: #fff;
}

/* Buttons */

.black-btn {
    background: #080808;
    color: #fff;

}

.black-btn:hover,
.black-btn:active,
.black-btn:focus {
    background: #222;
    color: white;
}

.crimson-btn {
    background: #ca0000;
    color: #fff;

}

.orange-btn {
    background: #ff7900;
    color: #fff;

}

.amber-btn {
    background: #ffb700;
    color: #fff;

}

.platinum-btn {
    background: #e1e1e3;
    color: #fff;

}

.base-button {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

button>a {
    color: #fafafa;
    text-decoration: none;
}

/* O T H E R  S T Y L E S */

footer {
    background: #080808;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

strong {
    font-weight: 900;
}

#topnav {
    width: 100%;
    text-align: center;
}

.card,
.card-body,
.card-footer {
    background-color: #e1e1e3 !important;
}

.availability {
    background-color: #080808 !important;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.75em;
    text-align: right;
    border-radius: 0.5em;
    font-weight: bold;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.header-container {
    padding-top: 140px;
}

/* M E D I A  Q U E R I E S */

/* Enforce max width for the search bar */
@media (max-width: 576px) {
    form {
        max-width: 90%;
    }
}

/* Adjust gap between menu items on larger screens */
@media (min-width: 992px) {

    .navbar-nav {
        gap: 75px;
    }
}