{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% endblock %}

  {% block extra_meta %}

  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" />
  <link rel="stylesheet" href="{% static 'base.css' %}" />
  {% endblock %}

  {% block extra_css %}

  {% endblock %}

  <title>
    The Cult Film Club{% block extra_title %}

    {% endblock %}
  </title>
</head>

<body>
  <header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 text-center text-lg-left">
      <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="nav-link">
          <h2 class="logo-font text-black">The <strong>Cult Film</strong> Club</h2>
        </a>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
        <form method="GET" action="{% url 'releases' %}" class="w-100 w-md-75 w-lg-auto">
          <div class="input-group">
            <input class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="Search the site" />
            <div class="input-group-append">
              <button class="form-control btn black-btn border border-black rounded-0" type="submit"><span
                  class="icon"><i class="fas fa-search"></i></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row bg-white">
      <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav col-auto ml-auto">
            <li class="nav-item text-center mx-auto">
              <a class="logo-font nav-link text-black" href="{% url 'home' %}" id="home-page"
                aria-label="Home Page">Home</a>
            </li>
            <li class="nav-item dropdown text-center mx-auto">
              <a class="logo-font nav-link text-black mr-5" href="#" id="film-releases"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Releases">Releases</a>
              <div class="dropdown-menu border-0" aria-labelledby="film-releases">
                <a href="{% url 'releases' %}" class="dropdown-item">All Releases</a>
                <a href="{% url 'releases' %}?sort=rating&direction=asc" class="dropdown-item">Sort by Rating (Lowest
                  Rated)</a>
                <a href="{% url 'releases' %}?sort=rating&direction=desc" class="dropdown-item">Sort by Rating (Highest
                  Rated)</a>
                <a href="{% url 'releases' %}?sort=price&direction=asc" class="dropdown-item">Sort by Price
                  (Low to High)</a>
                <a href="{% url 'releases' %}?sort=price&direction=desc" class="dropdown-item">Sort by Price
                  (High to Low)</a>
                <a href="{% url 'releases' %}?sort=copies_available&direction=asc" class="dropdown-item">Sort by Copies Available (Low to High)</a> 
                <a href="{% url 'releases' %}?sort=copies_available&direction=desc" class="dropdown-item">Sort by Copies Available (High to Low)</a>
                <a href="{% url 'releases' %}?sort=director_last&direction=asc" class="dropdown-item">Sort by Director
                  (Last Name, A-Z)</a>
                <a href="{% url 'releases' %}?sort=director_last&direction=desc" class="dropdown-item">Sort by Director
                  (Last Name, Z-A)</a>
              </div>
            </li>
            <li class="nav-item dropdown text-center mx-auto">
              <a class="logo-font text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div>
                  <p class="my-0">Account</p>
                </div>
              </a>
              <div class="dropdown-menu border-0 text-center mx-auto" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="nav-item text-center mx-auto">
              <a class="{% if grand_total %} font-weight-bold {% endif %} logo-font text-black nav-link" href="">
                <div>
                  {% if grand_total %}
                  £ {{ grand_total|floatformat:2 }}
                  {% else %}
                  Basket
                  {% endif %}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}

  {% endblock %}

  {% block content %}

  {% endblock %}

  <div id="delivery-banner" class="row text-center">
    <div class="col bg-black text-white">
      <h4 class="logo-font my-1">Free delivery on orders over £{{ free_shipping_threshold }}!</h4>
    </div>
  </div>
  <footer>
    <h1>Footer</h1>
  </footer>

  {% block corejs %}
  <script src="https://kit.fontawesome.com/9a47a7f2a8.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="{% static 'base.js' %}"></script>
  {% endblock %}

</body>

</html>