{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>The Cult Film Club | Bad Request</title>

<!-- Page-specific Meta Tags -->
<meta name="description"
    content="The request could not be understood by the server due to malformed syntax. Rewind the past, and Collect the Future with The Cult Film Club.">

<meta name="keywords" content="400 Error, Bad Request, Page Not Loading, Website Error, The Cult Film Club Technical Support">

{% endblock %}

{% block content %}

<main class="error-image">
    <div class="header-container form-container">
        <h1 class="error-title">Bad Request</h1>
        <p class="error-message">It looks like the request you made was invalid or cannot be processed.<br><br> No
            worries - you can
            head back to The Cult Film Club homepage and explore our latest releases instead.</p>
        <div class="button-container">
            <a href="{% url 'home' %}" class="base-button purple-btn" aria-label="Return to the home page">Home</a>
            <a href="javascript:history.back()" class="base-button orange-btn">Go Back</a>
        </div>
    </div>
</main>

{% endblock %}