{% extends 'base.html' %}

{% load static %}

{% block head %}

{% endblock %}
{% block extra_meta %}
<meta name="description"
    content="You do not have permission to access this page. Rewind the past, and Collect the Future with The Cult Film Club.">
<meta name="keywords"
    content="403 Error, Permission Denied, Page Not Loading, Website Error, The Cult Film Club Technical Support">
{% endblock %}

{% block extra_title %}Permission Denied{% endblock %}

{% block content %}
<div class="header-container form-container container center-wrapper text-center">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body p-5">
            <h1 class="mb-3">Permission Denied</h1>
            <p class="mb-4">
                It looks like you do not have permission to access this page.<br><br>
                No worries – you can head back to The Cult Film Club homepage and explore our latest releases instead.
            </p>
            <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                <a href="{% url 'home' %}" class="btn btn-success rounded-1 px-4 py-2"
                    aria-label="Return to the home page">
                    Home
                </a>
                <a href="javascript:history.back()" class="btn btn-outline-black rounded-1 px-4 py-2">
                    Go Back
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}