{% extends "base.html" %}
{% block extra_meta %}
<meta name="description"
    content="Edit the details of '{{ release.title }}', including title, price, stock, and images.">
<meta name="keywords" content="edit release, film release, update product, manage film, The Cult Film Club">
{% endblock %}
{% block extra_title %}
Edit "{{ release.title }}"
{% endblock %}
{% block content %}
<div class="container header-container p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card shadow-lg rounded-3 border-0 p-4 p-md-5 bg-white">
                <h2 class="logo-font text-center mb-4">Edit "{{ release.title }}"</h2>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-success btn-sm rounded-0 text-uppercase">
                            <i class="fas fa-save"></i> Save Changes
                        </button>
                        <a href="{% url 'product_management' %}"
                            class="btn btn-outline-black btn-sm rounded-0 text-uppercase">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}