{% extends 'base.html' %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <div class="row">
        {% for release in releases %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card h-100 border-0">
            {% if release.featured_image %}
            <a href="{% url 'release_details' release.id %}">
              <img class="card-img-top img-fluid w-75 mx-auto d-block" src="{{ release.featured_image.image.url }}"
                alt="{{ release.title }}" />
            </a>
            {% else %}
            <a href="{% url 'release_details' release.id %}">
              <img class="card-img-top img-fluid mx-auto d-block"
                src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1748259124/holding_image.webp"
                alt="{{ release.title }}" />
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <strong class="w-50 text-wrap">{{ release.title }}</strong>
                <span class="w-50 text-right">
                  {% if release.average_rating %}
                    <small><i class="fa-solid fa-star"></i>
                      {% if release.average_rating|floatformat:2|slice:'-3:' == '.00' %}
                        {{ release.average_rating|floatformat:0 }}
                      {% else %}
                        {{ release.average_rating|floatformat:2 }}
                      {% endif %}/ 5
                    </small>
                  {% else %}
                    <small>Not rated</small>
                  {% endif %}
                </span>
              </div>
              <p class="mb-2 text-left">Dir(s): {{ release.director }}</p>
              <p class="mb-2 text-left">Year: {{ release.release_date|date:"Y" }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-right font-weight-bold">
              £{{ release.price }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% if releases.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="mb-5">
  <ul class="pagination justify-content-center flex-wrap">
    {% if releases.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ releases.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for num in releases.paginator.page_range %}
      {% if releases.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
        <li class="page-item">
          <a class="page-link"
             href="?page={{ num }}{% if querystring %}&{{ querystring }}{% endif %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if releases.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ releases.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% if messages %}
<div>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}