{% extends 'base.html' %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <div class="row">
        {% for release in releases %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card h-100 border-0">
            {% if release.featured_image %}
            <a href="{% url 'release_details' release.id %}">
              <img class="card-img-top img-fluid" src="{{ release.featured_image.image.url }}"
                alt="{{ release.title }}" />
            </a>
            {% else %}
            <a href="{% url 'release_details' release.id %}">
              <img class="card-img-top img-fluid"
                src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1748259124/holding_image.webp"
                alt="{{ release.title }}" />
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ release.title }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left">
              <p class="lead mb-0 text-left font-weight-bold">£{{ release.price }}</p>
              {% if release.average_rating %}
              <small class="text-muted">
                Rating:
                {% if release.average_rating|floatformat:2|slice:'-3:' == '.00' %}
                {{ release.average_rating|floatformat:0 }}
                {% else %}
                {{ release.average_rating|floatformat:2 }}
                {% endif %}/ 5
              </small>
              {% else %}
              <small class="text-muted">No Rating</small>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if releases.has_previous %}
    <li class="page-item">
      <a class="page-link"
        href="?page={{ releases.previous_page_number }}{% if search_term %}&q={{ search_term }}{% endif %}"
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for num in releases.paginator.page_range %}
    {% if releases.number == num %}
    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link"
        href="?page={{ num }}{% if search_term %}&q={{ search_term }}{% endif %}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if releases.has_next %}
    <li class="page-item">
      <a class="page-link"
        href="?page={{ releases.next_page_number }}{% if search_term %}&q={{ search_term }}{% endif %}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% if messages %}
<div>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}